<app-home [computer]="computer"></app-home>

<nav id="start" (scroll)="onScroll()" [ngClass]="{'top': true, 'mobile': !computer, 'navbar': banner}">
  <div [@dropDownBar]="desplegableState" id="wrapper">
    <app-logo-nav-bar-item *ngIf="computer" class="logo"></app-logo-nav-bar-item>

    <app-logo-mobile-nav-bar-item *ngIf="!computer" class="logomobile" 
    (clicked)="openMenu()" [buttonClicked]="dropdownshown">
    </app-logo-mobile-nav-bar-item>

    <div *ngIf="computer" class="left">
      <a href="#info"><app-left-nav-bar-item content="Información"></app-left-nav-bar-item></a>
      <a href="#skillsets"><app-left-nav-bar-item content="Habilidades"></app-left-nav-bar-item></a>
      <a href="#projects"><app-left-nav-bar-item content="Proyectos"></app-left-nav-bar-item></a>
      <a href="#contact"><app-left-nav-bar-item content="Contacto"></app-left-nav-bar-item></a>
    </div>

    <app-right-nav-bar-item [ngClass]="{'right': computer, 'rightmobile': !computer}" [computer]="computer" [stickyMode]="banner"></app-right-nav-bar-item>

    <div [@dropDown]="desplegableState" class="dropdownmenu">
      <a (click)="scrollToAnchor('#info')"><app-dropdownitem (click)="dropdown()" content="Información"></app-dropdownitem></a>
      <a (click)="scrollToAnchor('#skillsets')"><app-dropdownitem (click)="dropdown()" content="Habilidades"></app-dropdownitem></a>
      <a (click)="scrollToAnchor('#projects')"><app-dropdownitem (click)="dropdown()" content="Proyectos"></app-dropdownitem></a>
      <a (click)="scrollToAnchor('#contact')"><app-dropdownitem (click)="dropdown()" content="Contacto"></app-dropdownitem></a>
    </div>
  </div>

</nav>
