<div id="skillset">
    <skill url="assets/images/skill/html5.png"></skill>
    <skill url="assets/images/skill/css3.png"></skill>
    <skill url="assets/images/skill/mongodb.png"></skill>
    <skill url="assets/images/skill/angular.png"></skill>
    <skill url="assets/images/skill/js.png"></skill>
    <skill url="assets/images/skill/typescript.png"></skill>
    <skill url="assets/images/skill/mysql.png"></skill>
    <skill url="assets/images/skill/java.png"></skill>
    <skill url="assets/images/skill/unity.png"></skill>
    <skill url="assets/images/skill/csharp.png"></skill>
  </div>