#skillset{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    gap: 40px 60px;
    padding: 20px 0 10px 0;
}

#skillset skill{
    width: 70px;
}
#skillset{
    width: 1250px;
}

@media (max-width: 1328px){
    #skillset skill{
        width: 65px;
        height: 75px;
    }
    #skillset{
        width: 93vw;
        gap: 0 10%;
    }
}
@media (max-width: 700px){
    #skillset skill{
        width: 60px;
        height: 70px;
    }
    #skillset{
        width: 93vw;
        gap: 0 5%;
    }
}