<nav (scroll)="onScroll()" [ngClass]="{'top': true, 'mobile': !computer, 'navbar': banner}">
  <div [@dropDownBar]="desplegableState" id="wrapper">
    <logo-nav [computer]="computer" class="logo" (clicked)="openMenu()" 
    [buttonClicked]="dropdownshown"></logo-nav>
    
    <div *ngIf="computer" class="left">
      <a (click)="scrollToAnchor('#home')"><left-nav-item content="Inicio"></left-nav-item></a>
      <a (click)="scrollToAnchor('#aboutme')"><left-nav-item content="Sobre mí"></left-nav-item></a>
      <a (click)="scrollToAnchor('#projects')"><left-nav-item content="Proyectos"></left-nav-item></a>
      <a (click)="scrollToAnchor('#contact')"><left-nav-item content="Contacto"></left-nav-item></a>
    </div>

    <right-nav class="right"></right-nav>

    <div [@dropDown]="desplegableState" class="dropdownmenu">
      <a (click)="scrollToAnchor('#home')"><dropdown-item (click)="dropdown()" content="Inicio"></dropdown-item></a>
      <a (click)="scrollToAnchor('#aboutme')"><dropdown-item (click)="dropdown()" content="Sobre mí"></dropdown-item></a>
      <a (click)="scrollToAnchor('#projects')"><dropdown-item (click)="dropdown()" content="Proyectos"></dropdown-item></a>
      <a (click)="scrollToAnchor('#contact')"><dropdown-item (click)="dropdown()" content="Contacto"></dropdown-item></a>
    </div>
  </div>
</nav>
