.title{
    height: 40%;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.title p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.content{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#email{
    width: 45px;
    height: 30px;
    filter: invert(15%) sepia(76%) saturate(5988%) hue-rotate(342deg) brightness(81%) contrast(105%);
    cursor: pointer;
}

#github{
    margin: 0 100px 0 100px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#linkedin{
    width: 50px;
    height: 50px;
    cursor: pointer;
}