:host{
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: 30%;
    justify-items: right;
    justify-content: right;
    align-items: flex-end;
    margin: 0 0 0 auto;
}

.right{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6px;
    z-index: 1;
}

img{
    width: 23px;
    height: 23px;
    margin-left: 14px;
}

span{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

span:hover {
    color: #848482;
}

a{
    height: 30%;
    border-left: 1px solid black;
}

.hovered{
    color: #848482;
    cursor: default;
}
