<home id="home"></home>
<nav-bar (languageChanged)="changeLanguage()" [computer]="computer"></nav-bar>
<div id="sections">
  <div id="aboutme">
    <div class="container">
      <h1>{{aboutme[0]}}</h1>
      <h2>{{aboutme[1]}}</h2>
      <h3>{{aboutme[2]}}</h3>
      <p>{{aboutme[3]}}</p>
      <p>{{aboutme[4]}}</p>
      <p>{{aboutme[5]}}</p>
      <h2>{{aboutme[6]}}</h2>
    </div>
    <skills-container class="container" style="align-items: center;">
    </skills-container >
  </div>
  <div id="projects">
    <div class="container">
      <h1>{{projectText[0]}}</h1>
      <h3>{{projectText[1]}}</h3>
      <div class="projects">
        <project title="Project 1" desc="Technologies" 
        url="/assets/images/project/projects.png" repo="username/project"
        pre="https://google.es" [buttonText]="buttonText"></project>
        <project title="Project 2" desc="Technologies" 
        url="/assets/images/project/projects.png" repo="username/project"
        pre="https://google.es" [buttonText]="buttonText"></project>
        <project title="Project 3" desc="Technologies" 
        url="/assets/images/project/projects.png" repo="username/project"
        pre="https://google.es" [buttonText]="buttonText"></project>
        <project title="Project 4" desc="Technologies" 
        url="/assets/images/project/projects.png" repo="username/project"
        pre="https://google.es" [buttonText]="buttonText"></project>
      </div>
    </div>
  </div>
  <contact [title]="contact" id="contact"></contact>
  </div>
<div id="footer">
  <p>{{footerText}}</p>
</div>


