@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#sections{
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 30px;
    text-align: center;
    color: #353839;    
    font-family: Montserrat , sans-serif;
    background-color: #ededed;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#info h1{
    padding-top: 30px;
    font-size: 25px;
    margin: 0;
}

.icontent{
    width: auto;
    display: inline-block;
    text-align: left;
    padding: 15px 30px 0 30px;
}

.icontent p{
    font-size: 15px;
    padding-top: 5px;
}

#skillsets{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    background: rgb(178,178,214);
    background: linear-gradient(180deg, rgba(178,178,214,1) 0%, 
    rgba(162,162,208,1) 50%, rgba(178,178,214,1) 100%);
    color: #f0f0f0;
}

#skillsets p{
    width: 100%;
    height: 10%;
    padding: 60px 0 0 0;
    margin: 0;
}

.scontent{
    padding-top: 20px;
    overflow: hidden;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 20px 0px;
}

#projects{
    height: 800px;
}

#projects p{
    padding-top: 30px;
}

app-contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170px;
    color: #f0f0f0;
    background: rgb(178,178,214);
    background: linear-gradient(180deg, rgba(178,178,214,1) 0%, 
    rgba(162,162,208,1) 50%, rgba(178,178,214,1) 100%);
}

#footer{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: black;
    color: #f0f0f0;
    font-family: Montserrat , sans-serif;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

@media (min-aspect-ratio: 8/5) {
    
    #info{
        height: 300px;
    }

    #projects{
        height: 800px;
    }
}
  
@media (min-aspect-ratio: 1/2) {

    #info{
        height: 300px;
    }

    #projects{
        height: 850px;
    }

}

@media (max-aspect-ratio: 3/2) {

    #info{
        height: 300px;
    }

    #projects{
        height: 850px;
    }
}

