<div [ngStyle]="{'width' : fixedWidth+'px'}">
  <app-header></app-header>
  <div id="sections">
    <div id="aboutme">
      <h2>Soy Jon</h2>
      <h3>Web Developer / Game Developer</h3>
      <div class="abcontent">
        <p>Tengo experiencia en Front End con <b>Angular</b>. <b>Responsive Web Design</b>. Manejo <b>JS</b> y <b>TS</b>. 
          5 años de experiencia con <b>Unity3D</b> y lenguajes como <b>C#</b> y <b>Java</b>.</p>
        <p>Me defino como <b>resolutivo</b> y <b>autodidacta</b>. Siempre busco aprender nuevas tecnologías y mejorar las ya conocidas.</p>
        <p>Actualmente estoy cursando el grado superior de DAM para obtener el titulo.</p>
        <p>Muchas ganas de trabajar en equipo.</p>
      </div>
    </div>
    <div id="skillsets">
      <p>HABILIDADES</p>
      <div class="scontent">
        <app-skill url="assets/images/skill/html5.png"></app-skill>
        <app-skill url="assets/images/skill/css3.png"></app-skill>
        <app-skill url="assets/images/skill/mongodb.png"></app-skill>
        <app-skill url="assets/images/skill/angular.png"></app-skill>
        <app-skill url="assets/images/skill/js.png"></app-skill>
        <app-skill url="assets/images/skill/typescript.png"></app-skill>
        <app-skill url="assets/images/skill/mysql.png"></app-skill>
        <app-skill url="assets/images/skill/java.png"></app-skill>
        <app-skill url="assets/images/skill/unity.png"></app-skill>
        <app-skill url="assets/images/skill/csharp.png"></app-skill>
      </div>
    </div>
    <div id="projects">
      <p lang="es">PROYECTOS</p>
    </div>
    <app-contact id="contact"></app-contact>
  </div>
  <div id="footer">
    <p>Developed and designed by Jon Santamaria Zamora.</p>
  </div>
</div>

