@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

#sections{
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 30px;
    text-align: center;
    color: black;  
    font-family: Montserrat , sans-serif;
    background-color: #ededed;
    z-index: -1;
}



#aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #ededed;
    margin: 0 auto 0 auto;
}

#aboutme h1{
    font-size: 30px;
    font-weight: normal;
    padding: 30px 0 0 0;
    margin: 0;
    text-align: center;
}

.abcontent{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 93vw;
    padding-bottom: 25px;
    text-align: justify;
}

.abcontent h2{
    font-size: 22px;
    padding: 20px 0 0 0;
    margin: 0;
}

.abcontent h3{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0 7px 0;
    margin: 0;
}

.abcontent p{
    font-family: 'Roboto Slab', serif;
    font-size: 15.5px;
    padding: 5px 0 0 0;
    margin: 0;
}

#skillsets{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: #ededed;
    margin: 0 auto 0 auto;
}

#skillsets h2{
    font-size: 22px;
    padding-left: 15px;
    text-align: justify;
    margin: 0;
}

.scontent{
    overflow: hidden;
    width: auto;
    max-width: 93vw;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 20px 60px;
    padding: 20px 15px 40px 15px;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 845px){
    .scontent app-skill{
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 845px){
    .scontent app-skill{
        width: 60px;
        height: 60px;
    }
}

.scontent app-skill{
    width: 70px;
    height: 70px;
}

#projects{
    border-top: 1px solid#353839;
    border-bottom: 1px solid#353839;
    height: 800px;
    background-color: #a2add0;

}

#projects p{
    padding-top: 40px;
    margin: 0;
}

app-contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: white;
    background: #a2add0;
}

#footer{
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
    color: 	#dedede;
    font-family: Montserrat , sans-serif;
    font-size: 9px;
    align-items: center;
    justify-content: center;
}

#footer p{
    padding: 10px 0 10px 0;
}
