<div [ngStyle]="{'width' : fixedWidth+'px'}">
  <app-header></app-header>
  <div id="sections">
    <div id="aboutme">
      <h1>SOBRE MÍ</h1>
      <div class="abcontent">
        <h2>Soy Jon,</h2>
        <h3>Web Developer / Game Developer</h3>
        <p>Tengo experiencia en Front End con Angular. Responsive Web Design. Manejo JS y TS. 
          5 años de experiencia con Unity3D y lenguajes como C# y Java.</p>
        <p>Me defino como resolutivo y autodidacta. Siempre busco aprender nuevas tecnologías y mejorar las ya conocidas.
          Muchas ganas de trabajar en equipo y demostrar mi valia.</p>
        <p>Actualmente estoy terminando el grado superior de DAM para obtener el titulo.</p>
      </div>
    </div>
    <div id="skillsets">
      <h2>Habilidades</h2>
      <div class="scontent">
        <app-skill url="assets/images/skill/html5.png"></app-skill>
        <app-skill url="assets/images/skill/css3.png"></app-skill>
        <app-skill url="assets/images/skill/mongodb.png"></app-skill>
        <app-skill url="assets/images/skill/angular.png"></app-skill>
        <app-skill url="assets/images/skill/js.png"></app-skill>
        <app-skill url="assets/images/skill/typescript.png"></app-skill>
        <app-skill url="assets/images/skill/mysql.png"></app-skill>
        <app-skill url="assets/images/skill/java.png"></app-skill>
        <app-skill url="assets/images/skill/unity.png"></app-skill>
        <app-skill url="assets/images/skill/csharp.png"></app-skill>
      </div>
    </div>
    <div id="projects">
      <p lang="es">PROYECTOS</p>
      <div class="pcontent">
        <app-project></app-project>
        <app-project></app-project>
        <app-project></app-project>
        <app-project></app-project>
        <app-project></app-project>
        <app-project></app-project>
        <app-project></app-project>
        <app-project></app-project>
        <app-project></app-project>
      </div>
    </div>
    <app-contact id="contact"></app-contact>
  </div>
  <div id="footer">
    <p>Developed and designed by Jon Santamaria Zamora.</p>
  </div>
</div>

