img{
    width: 32px;
    height: 30px;
    padding-left: 10px;
}

.logo{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    margin: 0px;
    padding: 0px;
}

.mobile{
    width: 44px;
    height: 42px;
    margin-left: 10px;
    transition: filter 150ms ease-in-out;
}

.button {
    cursor: pointer;
}

.button:active .menu_button{
    transition: filter 150ms ease-in-out;
    filter: invert(92%) sepia(1%) saturate(0%) hue-rotate(171deg) brightness(91%) contrast(96%);
}

.button:active .mobile{
    transition: filter 150ms ease-in-out;
    transform: rotate(360deg);
    filter: brightness(60%);
}

.menu_button{
    width: 20px;
    height: 20px;
    filter: invert(17%) sepia(1%) saturate(3528%) hue-rotate(71deg) brightness(93%) contrast(82%);
    margin-left: 20px;
    transition: filter 150ms ease-in-out;
}