<div class="container">
    <div [ngStyle]="{'background-image': property, 'background-size': backgroundMode}"  class="background"></div>
    <div class="overlay">
        <span class="title">{{title}}</span>
        <span class="description">{{description}}</span>
        <div class="buttons">
            <span class="button" (click)="onClick('pre')">
                <img src="assets/images/contact/preview.png">
                {{buttonText[0]}}
            </span>
            <span class="button" (click)="onClick('repo')">
                <img src="assets/images/contact/github.png">
                {{buttonText[1]}}
            </span>
        </div>
    </div>
</div>