.container{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 500ms linear;
}

.video{
    position: absolute;
    width: 100%;
    height: 95%;
    border-radius: 15px;
    left: 0;
    top: 2.5%;
}

.video-background{
    background-color: black; 
    position: relative; 
    width: 100%
}

.video-exit-button{
    position: absolute;
    width: 24px;
    height: 24px;
    filter: invert(99%) sepia(1%) saturate(28%) hue-rotate(133deg) brightness(106%) contrast(100%);
    cursor: pointer;
    left: 92%;
    top: 2%;
}

.overlay{
    padding: 13% 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 100%;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(1,1,1,-1), top 250ms ease-in-out;
}

.container:hover .overlay{
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    transition: top 450ms ease-in-out;
}

.container:hover .background{
    transform: scale(1.3);
    transition: transform 500ms linear;
}

.title{
    height: 20%;
    font-size: 20px;
    font-weight: bold;
}

.description{
    height: 18%;
    font-size: 12px;
}

.buttons{
    height: 62%;
    display: flex;
    flex-direction: row;
    gap: 0 40px;
    font-size: 12px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: #191919;
    margin: 0 0 auto 0;
    border: 0.5px solid #353839;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:hover{
    color: royalblue;
}

span img{
    width: 18px;
    height: 18px;
    padding-right: 2.25px;
}

span{
    padding: 2.5px 6.25px;
}

@media screen and (max-width: 1250px){
    .title{
        font-size: 26px;
    }
    
    .description{
        font-size: 15px;
    }

    .button{
        font-size: 14px;
    }
}

@media screen and (max-width: 845px){
    .title{
        font-size: 28px;
    }
    
    .description{
        font-size: 17px;
    }

    .button{
        font-size: 16px;
    }
}
