<div class="container">
    <div [ngStyle]="{'background-image': property, 'background-size': backgroundMode}"  class="background"></div>
    <div class="video-background" *ngIf="showVideo">
        <iframe class="video" width="100%" height="100%" [src]="safeSrc" 
        title="Preview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <img (click)="closeVideo()" class="video-exit-button" src="assets/images/project/ExitVideoMode.png">
    </div>
    <div *ngIf="!showVideo" class="overlay">
        <span class="title">{{title}}</span>
        <span class="description">{{description}}</span>
        <div class="buttons">
            <span class="button" (click)="onClick('pre')">
                <img src="assets/images/contact/preview.png">
                {{buttonText[0]}}
            </span>
            <span class="button" (click)="onClick('repo')">
                <img src="assets/images/contact/github.png">
                {{buttonText[1]}}
            </span>
        </div>
    </div>
</div>
