.container{
    background-color: #4682b4;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.container:hover{
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}

img{
    width: 100%;
    height: 100%;
}